html,
body {
  margin: 0;
  padding: 0;
  background-color: #ebeef3;
}
#root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Roboto', sans-serif;
  background-color: #ebeef3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
